<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>ExploreYourWorld</title>
<style>

@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

*{
    margin: 0;
    padding: 0;
}

.main_bg{
    background-image: url(images/background.jpg);
    max-width: 1280px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.form{
    width: 650px;
}

.form-text{
    text-align: center;
    margin: 0 0 40px 0;
}
.form-text h1 span img{
    margin: 0 10px;

}
.form-text h1{
    color: #fff;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 40px;
    margin-bottom: 20px;
}
.form-text p{
    color: #fff;
    font-family: 'Akaya Telivigala', cursive;
    font-size: large;
}

.main-form div{
    margin: 10px 10px;
    width: 300px;
    display: inline-block;
}
.main-form div input {
    width: 100%;
    font-family: 'Akaya Telivigala', cursive;
    background: none;
    border: 1px solid #ffca00;;
    font-size: 20px;
    color: #fff;
    outline: none;
    padding: 3px 0 3px 10px;
    margin-top: 10px;
}
.main-form div select{
    width: 104%;
    font-family: 'Akaya Telivigala', cursive;
    background: none;
    border: 1px solid #ffca00;;
    font-size: 20px;
    color: #fff;
    outline: none;
    padding: 3px 0 3px 10px;
    margin-top: 10px;
}
.main-form div span{
    width: 100%;
    font-family: 'Akaya Telivigala', cursive;
    color: #fff;
    font-size: 25px;
}

#submit{
    width: 100%;
    text-align: center;
}
#submit input{
    font-family: 'Akaya Telivigala', cursive;
    width: 200px;
    background-color: yellow !important;
    color: black !important;
    transition: all .3s;
}
#submit input:hover{
    font-family: 'Akaya Telivigala', cursive;
    width: 200px;
    background-color: black !important;
    color: #fff !important;
}
#submit input:active{
    font-size: 19px;
    background-color: rgb(46, 20, 5) !important;
    color: #fff !important;
}


@media screen and (max-width:710px) {
    .main-form{
        text-align: center ;
    }
}

/* make by ruhul amin */
</style>


</head>

<body class="main_bg" >
    <div class="form">
        <div class="form-text">
            <h1><span><img src="images/art-1.png" alt="" /></span>Book Now <span><img src="images/art-1.png" alt="" /></span></h1>
            <p></p>
        </div>
        <div class="main-form">
            <form action="/book" method="post">
                <div>
                    <span>Your full name ?</span>
                    <input type="text" name="Name"  placeholder="Write your name here..." required />
                </div>
                <div>
                    <span>Your email address ?</span>
                    <input type="email" name="Email"  placeholder="Write your email here..." required /> 
                </div>
                <div>
                    {/* <!-- <---this is the select option---> */}
                    <span>How many people ?</span>
                    <select name="people"  required>
                        <option value="">People</option>
                        <option value="1">1 People</option>
                        <option value="2">2 People</option>
                        <option value="3">3 People</option>
                        <option value="4">4 People</option>
                    </select>
                    {/* <!-- <---this is the select option---> */}
                </div>
                <div>
                    <span>What time ?</span>
                    <input type="text" name="time"  placeholder="Time" required/>
                </div>
                <div>
                    <span>What is the date ?</span>
                    <input type="date" name="date"  placeholder="date" required />
                </div>
                <div>
                    <span>Your phone number ?</span>
                    <input type="number" name="Fnumber"  placeholder="Write your number here..." required />
                </div>
               <div> 
                <p><a href="https://rzp.io/l/Nr6s5Cv" class="btn btn-primary">Book Now!</a></p>
               </div>>
           
                


            </form>
        </div>
    </div>
    
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
var orderId ;
$(document).ready(function(){
    var settings = {
  "url": "/create/orderId",
  "method": "POST",
  "timeout": 0,
  "headers": {
    "Content-Type": "application/json"
  },
  "data": JSON.stringify({
    "amount": "199900"
  }),
};

//creates new orderId everytime
$.ajax(settings).done(function (response) {

  orderId=response.orderId;
  console.log(orderId);
  $("rzp-button1").show();
});
});

document.getElementById('rzp-button1').onclick = function(e){
    var options = {
    "key": "rzp_test_kSlxrQmUyHzrlm", // Enter the Key ID generated from the Dashboard
    "amount": "199900", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Explore Your World",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": orderId, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        alert(response.razorpay_payment_id);
        alert(response.razorpay_order_id);
        alert(response.razorpay_signature)
        var settings = {
        "url": "/api/payment/verify",
        "method": "POST",
        "timeout": 0,
        "headers": {
        "Content-Type": "application/json"
  },
  "data": JSON.stringify({response}),
}
    $.ajax(settings).done(function (response) {
        alert(JSON.stringify(response));
    });
},
    "theme": {
        "color": "#99cc33"
    }
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});
rzp1.open();
    e.preventDefault();
}

    </script>
</body>

  </html>